# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.env/
.venv/

# Configuración de IDEs comunes
.idea/       # PyCharm
.vscode/     # Visual Studio Code

# Archivos de distribución
build/
dist/
*.egg-info/

# Archivos de cobertura y pruebas
.coverage
.pytest_cache/
.cache/